



/* .scoreCard{

    display: flex;
    position: relative;
    top: -240px;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    background-color:rgb(197, 154, 202);
    height: 250px;
    width: 250px;
    color: rgb(134, 123, 49);
    align-items: center;

    
}
.end{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -47px;
    color: rgb(134, 123, 49);
  
  
  } */
  
  /* @media screen and (max-width: 900px){
   
   
  } */
