.scoreCard{

   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: 1px solid black;
    margin: 140px;
    border-radius: 15px;
    background-color:rgb(197, 154, 202);
    height: 250px;
    width: 250px;
    color: rgb(134, 123, 49);
    align-items: center;

    
}

  #main
  {
    display: flex;

  }
  

