body{
  margin: 0;
  
}

img{
  width: 100px;
  height: 100px;
  opacity: 0%;
}

.animIn{
  animation: picture 2s linear;
  animation-fill-mode: forwards;
  
}
.line{
  display:flex;
  justify-content: center;
  height: 80%;
  width: 70%;
  padding-left: 50px;
  margin-left: 80px;
}
.card{
  width: 225px;
  height: 125px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  margin: 5px;
  border-radius: 10%;
  /* justify-content:center */
  /* text-align: center;
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
  transform-style: preserve-3d;
  position: relative;
  display: table; */
 }


 @keyframes picture {
   0%{
     opacity: 0%;
   }
   50%{
     opacity: 50%;
   }
   100%{
     opacity: 100%;
   }
 }
 .container {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row-reverse;
  
}

.score {
  border: 1px solid black;
  justify-content: flex-end;
}
.end{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -47px;


}

.flex-end{

  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 5px;
  top: -300px;
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  top: -336px;
  right: 21px;
  position: absolute;
}
  
