@font-face {font-family: Fredoka ;src: url("../public/fonts/Fredoka-VariableFont_wdth\,wght.ttf");}

body{
  margin: 0;
  background-image: url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  z-index: -1;
  overflow: hidden;
}

img{
  width: 100px;
  height: 100px;
  user-select: none;
  opacity: 0%;
  pointer-events: none
}

.animIn{
  animation: picture 0.5s linear;
  animation-fill-mode: forwards;
  
}
.line{
  display:flex;
  justify-content: left;
  height: 80%;
  width: 70%;
  padding-left: 50px;
  margin-left: 80px;
}
.card{
  width: 225px;
  height: 125px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  margin: 5px;
  border-radius: 10%;
  justify-content:center;
  text-align: center;
 }


 @keyframes picture {
   0%{
     opacity: 0%;
   }
   100%{
     opacity: 100%;
   }
 }


.score {
  border: 1px solid black;
  justify-content: flex-end;
}


.flex-end{
  display: flex;
  padding: 20px;
  padding-right: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: rgb(245, 149, 235);
  border-radius: 15px;
  text-align: center;
  justify-content: space-around;
  margin-top: 50px;
}

.flex-end a{
  color: rgb(98, 47, 0);
  font-size: large;
  font-weight: bolder;
  display: flex;
  font-family: Fredoka;
}

.scoreCard{

  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: baseline;
   border: 1px solid black;
   border-radius: 15px;
   margin-top: 60px;
   background-color:rgb(101, 114, 255);
   height: 350px;
   width: 350px;
   color: rgb(255, 255, 255);
   align-items: center;
   font-weight: bold;
   
}

 #main {
   display: flex;
 }

 #other {
  display: flex;
  flex-direction: column;
 }

 #table {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #game {
  margin-top: 40px;
 }

 h1 {
  display: flex;
  justify-content: center;
  font-size: 4em;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  color: beige;
  font-family: Fredoka;
 }
 
 .scoreCard h1 {
  font-size: 2.5em;
  padding-bottom: 20px;
  font-family: Fredoka;
 }

 h2 {
  font-size: 2em;
  font-family: Fredoka;
 }

 h3 {
  font-size: 2em;
  font-family: Fredoka;
 }