body{
  margin: 0;
  background-image: url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

img{
  width: 100px;
  height: 100px;
  opacity: 0%;
}

.animIn{
  animation: picture 2s linear;
  animation-fill-mode: forwards;
  
}
.line{
  display:flex;
  justify-content: left;
  height: 80%;
  width: 70%;
  padding-left: 50px;
  margin-left: 80px;
}
.card{
  width: 225px;
  height: 125px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  margin: 5px;
  border-radius: 10%;
  justify-content:center;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
  transform-style: preserve-3d;
  position: relative;
  display: table;
 }


 @keyframes picture {
   0%{
     opacity: 0%;
   }
   50%{
     opacity: 50%;
   }
   100%{
     opacity: 100%;
   }
 }
 .container {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row-reverse;
  
}

.score {
  border: 1px solid black;
  justify-content: flex-end;
}


.flex-end{
  display: flex;
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: rgb(185, 218, 111);
  border-radius: 15px;
  text-align: center;
  justify-content: space-between;
  color: rgb(134, 123, 49);
  
  
  
}
.flex-end a{
  color: rgb(134, 123, 49);
  font-size: large;
  font-weight: bolder;
  display: flex;

}

.table{
  display: grid;
  margin: 100px -100px;
}
